<div class="col-lg-7 col-md-7 col-sm-7 letter">
  <p>collapse.io is URL bookmarking tool.</p>
  <p>
    Use collapse.io to create links to URLs that are
    slightly faster to use. Instead of going to
    google.com, you can go to go/g.
  </p>
  <p>
    Sign in to create links.
  </p>
</div>
