<div class="col-lg-7 col-md-7 col-sm-7 letter">
  <p>
    Use <a href="https://collapse.io">collapse.io</a>
    to create links to URLs that can be slightly faster to
    use.
  </p>
  <p>
    Enter your email address in order to get a verification
    email, and get started.
  </p>
</div>
