<div id="password-reset-success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="password-reset-label" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="password-reset-label">Password Reset Email Sent</h4>
      </div>

      <div class="modal-body">
        <p>
          You should receive an email shortly with instructions on how
          to reset your password.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white-text btn-primary" data-dismiss="modal">Great</button>
      </div>

    </div>
  </div>

</div>
