@import "../style.less";

.signed-out{
  h1{
    font-size: @headline-size;;
    padding-bottom: @half-spacing;

    @media @sm{
      font-size: @big-size;
      border-top: 1px solid @text-fg;
      padding-top: @half-spacing;
    }
  }
  .letter{
    @media @sm{
      margin-bottom: 45px;
    }

    p{
      text-rendering: geometricPrecision;
      font-size: @big-size;
      @media @sm{
        font-size: @normal-size;
      }
    }

    a{
      font-weight: @bold-weight;
      text-decoration: none;
      border-bottom: 3px solid @text-fg;
      @media @sm{
        border-bottom: 2px solid @text-fg;
      }
    }
  }
  form{
    margin-top: 18px;
  }

}
