<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="inner border-top heading">
        <h1>Let's get started</h1>
        <p>
          You can create a link by going to any top-level path
          on <a href="https://g.collapse.io">g.collapse.io</a>
          such as <a href="/mail">g.collapse.io/mail</a>. If its
          not already defined, you'll be asked to enter a URL. Once
          you set the URL, going there again will take you to
          whatever URL you defined.
        </p>
        <p>
          To make this actually useful, add "collapse.io" to your
          Search Domains under your DNS settings on your computer.
          Once you do that, you can just go to
          <a href="http://g/mail">g/mail</a> in your browser.
        </p>
      </div>
    </div>
  </div>
</div>
