<div class="panel">
  <div class="hit-area">
    <div class="hit-triangle" style="top: -40px; right: 5px;"></div>
    <div class="content">
      {{> tmpl/modules/profile}}
      <a href="/" id="button-log-out">Log Out</a>
    </div>
  </div>
</div> <!-- .panel -->
