{{> tmpl/wrapper/upper.mustache}}
  <link rel="stylesheet/less" type="text/css" href="/css/pages/verification_success.less" />
  <script src="/js/vendor/less-1.6.0.min.js" type="text/javascript"></script>
  <div class="content-wrap">
    <div class="container">
      {{> tmpl/pages/verification_success/modules/verification_success.mustache}}
    </div>
  </div>
  <script data-main="/js/pages/verification_success" src="/js/vendor/require-2.1.9.min.js"></script>
{{> tmpl/wrapper/lower.mustache}}

