        <tr>
          <td height="20" style="border-top: 1px solid #333333;"></td>
        </tr>
        <tr>
          <td>
            <table width="300" cellpadding="0" cellspacing="0" border="0" align="left">
              <tr>
                <td>
                  <a href="http://twitter.com/asmorrison" style="font-family: Helvetica, Arial, sans-serif; color: #333; text-decoration: underline; font-size: 12px;">Follow @asmorrison</a>
                </td>
              </tr>
            </table>
            <table width="300" cellpadding="0" cellspacing="0" border="0" align="left">
              <tr>
                <td class="text-right" style="font-family: Helvetica, Arial, sans-serif; text-align: right; color: #333333; font-size: 12px; text-decoration: none;">
                  @ 2017 g.collapse.io
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>

    </span>

</body>
</html>
