You're almost done!

There's just one quick thing we need before we're set. Please verify your email by using the link below.

{{ verificationUrl }}

If you did not sign up for an account on g.collapse.io, you may ignore this message.

----
@2017 collapse.io
