<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="clearfix">
        Create a new link
        <form id="form-create-link">
          <input type="hidden" name="name" value="{{name}}"/>
          <input type="text" name="url" />
          <input type="submit" value="Create" />
        </form>
      </div>
    </div>
  </div>
</div>
